body {
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgb(143, 140, 140);
    margin: 0;
    padding: 0;
  }
  .navbar {
    height: 248 px;
    width: 1489 px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    color: rgb(16, 16, 16);
    background-color: rgb(243, 236, 236);
    border: 2px solid rgb(221, 170, 0);
    border-radius: 12px;
    padding: 12px 12px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  @media (max-width: 529px) {
  }
  .navbar h1 {
    font-size: 34px;
    padding-left: 34px;
  }
  .navbar p {
    padding: 0px 34px;
  }
  
  .navbar ul a {
    padding-left: px;
    position: relative;
    top: 0px;
    left:0px;
    text-decoration: none;
    color:black;
    font-size:34;
  }
  .navbar img {
    position: absolute;
    top: 33px;
    right: 25px;
    height: 200px;
    width: 200px;
    border-radius: 500px;
  }
  .education {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 12px;
    padding: 1px 15px;
    justify-content: center;
    align-items: left;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  #edu {
    display: flex;
    flex-direction: column;
    padding: 3px 30px;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .key-skill {
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    border-radius: 12px;
    padding: 1px 12px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .span-box {
    padding: 81px 31px;
  }
  button {
    border-radius: 5px;
    background-color: rgb(3, 9, 14);
    color: aqua;
    width: 75px;
    height: 75px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  button:hover {
    border: 2px solid black;
    background-color: green;
    color: red;
    cursor: pointer;
  }
  .experience {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    border-radius: 12px;
    padding: 1px 12px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  #exp ul li {
    font-size: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .project {
    display: flex;
    flex-direction: column;
    border: 2px solid purple;
    border-radius: 12px;
    padding: 1px 12px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  #pro ul li {
    font-size: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .achievement {
    display: flex;
    flex-direction: column;
    border: 2px solid chartreuse;
    border-radius: 12px;
    padding: 1px 12px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  #ac-ab ul li {
    font-size: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .container {
    display: flex;
    flex-direction: row;
    background-color: rgb(12, 12, 12);
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1px 12px;
    border-radius: 12px;
  }
  
  